@import url("https://fonts.googleapis.com/css2?family=Rubik+Microbe&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Staatliches", cursive;

  font-size: 18px;
  color: white;
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}
.welcome {
  text-align: center;
  font-size: 2rem;

  margin: 2rem;
}
.container {
  margin: 200px auto;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.quote-box {
  border: 2px solid white;
  padding: 30px 20px;
  margin-bottom: 20px;
  background: #efd5ff;
  border: 1rem solid plum;
  border-radius: 50px;
}
#quote {
  color: #a33c9c;
  text-align: center;
}
#author {
  float: right;
  color: #a33c9c;
  font-weight: bold;
  font-style: italic;
  margin-top: 10px;
}

#btn {
  align-self: center;
  border: solid plum;

  padding: 10px 15px;
  text-transform: uppercase;
  color: #a33c9c;
  font-weight: bold;
  cursor: pointer;
  background-color: plum;
  margin-top: 40px;
}

#btn:focus {
  outline: none;
}
